@import 'tailwindcss';

@layer base {
  :root {
    --background: 45 67% 99%;
    --foreground: 0 0% 11%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11%;

    --primary: 30 23% 25%;
    --primary-foreground: 45 67% 99%;

    --secondary: 30 35% 77%;
    --secondary-foreground: 0 0% 11%;

    --muted: 0 0% 89%;
    --muted-foreground: 0 0% 42%;

    --accent: 30 88% 56%;
    --accent-foreground: 45 67% 99%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 30 88% 56%;

    --radius: 0.5rem;
    
    /* Custom design tokens */
    --highlight: 30 88% 56%;
    --hover: 30 76% 56%;
    --text-secondary: 0 0% 42%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 30 23% 25%;
    --foreground: 45 67% 99%;

    --card: 30 23% 25%;
    --card-foreground: 45 67% 99%;

    --popover: 30 23% 25%;
    --popover-foreground: 45 67% 99%;

    --primary: 45 67% 99%;
    --primary-foreground: 30 23% 25%;

    --secondary: 30 35% 35%;
    --secondary-foreground: 45 67% 99%;

    --muted: 30 35% 35%;
    --muted-foreground: 30 35% 77%;

    --accent: 30 88% 56%;
    --accent-foreground: 45 67% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 30 35% 35%;
    --input: 30 35% 35%;
    --ring: 30 88% 56%;
    
    /* Custom design tokens */
    --highlight: 30 88% 56%;
    --hover: 30 76% 56%;
    --text-secondary: 0 0% 42%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
/*   * {
    @apply border-b;
  } */

/*   body {
    @apply bg-background text-foreground;
  } */
}
